body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    background: #1F2937;
    height: 300px;
    margin-top: 0px;
    padding-top: 10px;
    
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 100px;
    margin-right: 300px;
    color: #F9FAF8;
}

.header .links {
    display: flex;
    margin-left: 150px;
    gap: 12px;
    
    
}

.header .links a{
    text-decoration: none;
    color: lightgray;
}

.WebsiteDescription {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 100px;
    margin-top: -200px;
}
.WebsiteDescription .Title {
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
}
.WebsiteDescription .Subtext {
    color: #E5E7EB;
    font-size: 18px;
}

.WebsiteDescription .Sign-Up {
    background-color: #3882F6;
    color: white;
    padding: 10px 24px;
    border-radius: 5px;
    border: 5px solid #3882F6 ;
    transition-duration: .4s;
}

.WebsiteDescription .Sign-Up:hover{
    background-color: #8bade5;
}