body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

}

.header {
    display: flex;
}

.header .logo {
    font-size: medium;
    font-weight: bold;
    margin-left: 100px;
    margin-right: 300px;
}

.header .links {
    margin-right: 100px;
}