body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    margin: 0;
}

.logo img{
    height: 50px;
    width: 70px;
}

.header {
    display: flex;
    background: #1F2937;
    height: 400px;
    margin-top: 0px;
    padding-top: 10px;
    
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 100px;
    margin-right: 300px;
    color: #F9FAF8;
    flex: auto;
}

.header .links {
    display: flex;
    margin-left: 150px;
    gap: 12px;
    flex: auto;

    
    
}

.header .links a{
    text-decoration: none;
    color: lightgray;
    flex: auto;
}

.WebsiteDescription, .TitleImage {
    width: 320px;
    height: 150px;
    flex: auto;
}
.WebsiteDescription {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    
}

.TitleImage {
    position: absolute;
}
.WebsiteDescription .Title {
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
    margin-bottom: 10px;
    flex: auto;
   

}

.WebsiteDescription .Subtext {
    color: #E5E7EB;
    font-size: 18px;
    flex: auto;
}

.WebsiteDescription .Sign-Up {
    background-color: #3882F6;
    color: white;
    padding: 5px 12px;
    border-radius: 5px;
    border: 5px solid #3882F6 ;
    transition-duration: .4s;
    margin-top: 10px;
    flex: auto;

}

.WebsiteDescription .Sign-Up:hover{
    background-color: #8bade5;
    
}

.WebsiteDescription, .TitleImage {
    display: inline-block;
    vertical-align: top;
    margin-top: -250px;
    margin-left: 100px;
    flex: auto;
}
.InfoTitle {
    text-align: center;
    margin-bottom: 40px;
    color: #1F2937;
    font-size: 25px;
    margin-top: 50px;
    font-weight: bold;
}
.Information {
    display: flex;
    gap: 10px;
    justify-content: center;
    height: 350px;
}
.Information img{
    height: 180px;
    width: 220px;
}

.Information p{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.Quote {
    display: flex;
    background-color: #E5E7EB;
    height: 300px;
    flex-direction: column;
    align-items: center;
}

.Quote .quotetext {
    font-size: 24px;
    color: #1F2937;
    font-style: italic;
    text-align: center;
    margin-top: 100px;
    width: 600px;

   
    

}

.Quote .Author {
    margin-left: 700px;
    margin-top: 20px;
    color: #1F2937;
    font-weight: bolder;
}

.Notification {
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.NotificationBox {
    background-color: #3882F6;
    height: 150px;
    width: 600px;
    float: left;
    border-radius: 5px;
    align-items: flex-start;
    color: white;


}

.Call-to-action, .Subtext {
    margin-left: 10px;
    margin-top: 10px;
    width: 400px;
   
}

.Call-to-action {
    font-weight: bold;
   
}
.SignUp2 {
     margin-left: 470px;
     margin-top: -100px;
     background-color: #3882F6;
     border-radius: 5px;
     border-color: white;
     border-width: 2px;
     color: white;
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 5px;
     padding-bottom: 5px;
     font-weight: 700;
     border-style: solid;
     
}

.SignUp2:hover {
    background-color: lightblue;
}


